@font-face {
	font-family: "Poor";
	src: url(assets/ScholarlyAmbitionRegular-PKdwB.ttf);
}

h1 {
	margin: -50px;
}

canvas {
	border: 2px solid black;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	height: 500px;
	width: 900px;
	margin: 0 auto;
	background: white;
}

body {
	margin: 0px;
	padding: 30px;
	font-family: "Poor";
	overflow: hidden;
}

.tools {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.tools .color-field {
	height: 40px;
	width: 40px;
	min-height: 40px;
	min-width: 40px;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid black;
	align-self: center;
	margin: 0 8px;
}

.tools .button {
	align-self: center;
	width: 100px;
	height: 40px;
	cursor: pointer;
	color: white;
	background: black;
	font-weight: bold;
	margin: 0 8px;
}

.color-picker {
	align-self: center;
	margin: 0 8px;
	height: 50px;
}

.pen-range {
	align-self: center;
	margin: 0 8px;
}

.content {
	display: none;
	width: 330px;
	height: auto;
	background: #dde1e7;
	padding: 30px 35px 40px;
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	align-self: center;
	width: 100px;
	height: 40px;
	cursor: pointer;
	color: white;
	background: black;
	font-weight: bold;
	margin: 0 8px;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@
-webkit-keyframes fadeIn {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
@
keyframes fadeIn {
	from {opacity: 0;
}

to {
	opacity: 1;
}
}