@charset "UTF-8";

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400;
	height: 250;
}

@font-face {
	font-family: "Poor";
	src: url(assets/ScholarlyAmbitionRegular-PKdwB.ttf);
}
#my{
zoom: 50%;
}
h3 {
	font-family: "Poor";
	font-size: 3em;
	font-weight: bold;
}
h2 {
	font-family: "Poor";
	font-size: 3em;
	font-weight: bold;
}
h1{
	font-family: "Poor";
	font-size: 2em;
	font-weight: bold;
}
#ip1 {
	border: 0px none;
	font-family: 'Poor';
	font-size: 2em;
	border-radius: 18px;
    background: lightblue;
    padding: 20px; 
    width: 200px;
    height: 15px;  
    color: #5A5A5A;
	
}
#ip2 {
	font-family: 'Poor';
	font-size: 2em;
    border-radius: 25px;
    background: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;    
    color: #5A5A5A;
}
.fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}